#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 
build:
	autoreconf -i

override_dh_builddeb:
	dh_builddeb -- -Zbzip2
	
override_dh_gencontrol:
	if [ -f "../.VYOS_DEV_BUILD" ]; then \
		dh_gencontrol -- -v999.dev; \
	else \
		dh_gencontrol; \
	fi
